@import url("https://db.onlinewebfonts.com/c/8596a172173e3bf6bf5daba5f15fb488?family=MINI+Serif+Regular");
@import url("https://db.onlinewebfonts.com/c/a854932970a656a7573f56f61b544ea1?family=MINISansSerif-Regular");
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  outline: none;
  background-color: transparent;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

body {
  background-color: #f6f6f6;
}

li {
  list-style: none;
}

#app {
  position: relative;
  overflow-x: hidden;
  font-family: "MINISansSerif-Regular";
  margin-block: 146px 14px;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 130px 282px;
  flex-direction: column;
  gap: 80px;
}
.container::before {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
  inset: 0;
}

.title {
  position: absolute;
  font-family: "MINI Serif Regular";
  font-size: 72px;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}
.title__xxx {
  position: relative;
  display: none;
  text-align: center;
}

.wrapper {
  position: relative;
  right: 0;
  width: 942px;
  height: var(--height-main);
  margin-left: auto;
  --height-main: 690px;
}
.wrapper-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  align-items: center;
  gap: 1110px;
}
.wrapper-btn__previous, .wrapper-btn__next {
  display: flex;
  width: 52px;
  height: 52px;
  border-radius: 100rem;
  background: #000;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.wrapper-btn__previous.disabled, .wrapper-btn__next.disabled {
  background-color: rgba(77, 77, 77, 0.3019607843);
  cursor: unset;
}
.wrapper-carousel {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  justify-content: flex-end;
}
.wrapper-circles {
  position: absolute;
  inset: 0;
}

.footer {
  display: flex;
  padding-right: 210px;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1600px) {
  .container {
    gap: 60px;
    padding-inline: 175px;
  }
  .title {
    display: none;
  }
  .title__xxx {
    display: block;
  }
  .footer {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1400px) {
  .container {
    overflow-x: hidden;
    padding-inline: 16px;
  }
  .wrapper {
    margin: 0 auto;
  }
  .wrapper-btn {
    top: unset;
    bottom: -90px;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 300px;
  }
  .wrapper-btn__previous, .wrapper-btn__next {
    width: 35px;
    height: 35px;
  }
  .wrapper-btn__previous img, .wrapper-btn__next img {
    width: 12px;
    height: 12px;
  }
  .footer {
    flex-direction: column;
    gap: 60px;
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
    max-width: 800px;
    --height-main: 600px;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 1.5234375rem + 6.25vw, 4.5rem);
  }
  .wrapper {
    max-width: 576px;
    --height-main: 500px;
  }
}
@media only screen and (max-width: 576px) {
  .wrapper {
    max-width: 100vw;
    --height-main: 100vw;
  }
  .wrapper-btn {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
}
.btn {
  display: inline-block;
  width: 282px;
  padding: 16px 32px;
  font-family: "MINISansSerif-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  text-align: center;
  border: 1px solid #262626;
  border-radius: 100px;
}
.btn:hover {
  color: #fff;
  background-color: #262626;
}
.btn-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  .btn {
    width: 100%;
    white-space: nowrap;
    flex: 1;
  }
  .btn-list {
    width: 100%;
    flex-direction: column;
  }
}
.carousel-slider {
  display: flex;
  gap: 0 300px;
}
.carousel-item {
  position: relative;
  width: 942px;
  height: 100%;
}
.carousel-item.active > .carousel-image {
  scale: 1;
}
.carousel-image {
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 1028px;
  transform: translateX(-50%);
  transition: all 0.6s cubic-bezier(0.29, 0.79, 0.53, 0.92);
  scale: 0.7;
}

@media only screen and (max-width: 1200px) {
  .carousel-item {
    width: 762px;
  }
  .carousel-image {
    bottom: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-item {
    bottom: 10%;
    width: 550px;
  }
}
@media only screen and (max-width: 576px) {
  .carousel-item {
    width: 100vw;
  }
}
.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(var(--height-main) - 110px);
  height: calc(var(--height-main) - 110px);
  border-radius: 100rem;
  transition: all 0.6s cubic-bezier(0.29, 0.79, 0.53, 0.92);
  scale: 0;
}
.circle-item {
  position: absolute;
  top: 50%;
  right: 0;
  width: calc(var(--height-main) - 58px);
  height: calc(var(--height-main) - 58px);
  transform: translateY(-50%);
}
.circle-item.active .circle {
  visibility: visible;
  opacity: 1;
  scale: 1;
}
.circle-item.active .circle-text {
  visibility: visible;
  opacity: 1;
  rotate: 0deg;
}
.circle-item.hidden .circle {
  visibility: hidden;
  opacity: 0;
}
.circle-item.hidden .circle-text {
  visibility: hidden;
  opacity: 0;
  rotate: -75deg;
}
.circle-text {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: calc(var(--height-main) - 6px);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.29, 0.79, 0.53, 0.92);
  rotate: 75deg;
}
.circle__orange {
  background-color: #ed5700;
}
.circle__pink {
  background-color: #f183b2;
}
.circle__light-green {
  background-color: #bbd780;
}
.circle__light-blue {
  background-color: #57c4e5;
}
.circle__purple {
  background-color: #641978;
}
.circle__red {
  background-color: #e6001d;
}

@media only screen and (max-width: 1200px) {
  .circle-item {
    right: unset;
    left: 25%;
  }
}
@media only screen and (max-width: 576px) {
  .circle-item {
    left: 10%;
  }
}
.progress {
  position: relative;
  display: flex;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
  gap: 0 16px;
}
.progress-container {
  position: relative;
  overflow: hidden;
  width: 192px;
  height: 2px;
  border-radius: 100rem;
  background-color: rgba(77, 77, 77, 0.3);
}
.progress-occupy {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #262626;
  transition: all 0.6s cubic-bezier(0.29, 0.79, 0.53, 0.92);
}
.progress-front {
  position: relative;
}
.progress-front li {
  position: absolute;
  top: 50%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: translate(0, -50%);
  transition: all 0.6s cubic-bezier(0.29, 0.79, 0.53, 0.92);
}
.progress-front li.active {
  visibility: visible;
  opacity: 1;
}
.progress-front li.active:last-child {
  transform: translate(0, -50%);
}
.progress-front li:last-child {
  visibility: visible;
  opacity: 1;
  transform: translate(216px, -50%);
}
.progress-tail {
  position: relative;
}
.progress-tail li {
  position: absolute;
  top: 50%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.6s cubic-bezier(0.29, 0.79, 0.53, 0.92);
}
.progress-tail li.active {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 576px) {
  .progress-container {
    width: calc(100vw - 180px);
  }
  .progress-front li:last-child {
    transform: translate(calc(100vw - 155px), -50%);
  }
}

/*# sourceMappingURL=style.css.map */
