.btn {
  display: inline-block;

  width: 282px;
  padding: 16px 32px;

  font-family: 'MINISansSerif-Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: $gray-10;
  text-align: center;

  border: 1px solid $gray-9;
  border-radius: 100px;
  &:hover {
    color: $gray-1;

    background-color: $gray-9;
    }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    }
  }

@media only screen and (max-width: $sm) {
  .btn {
    flex: 1;

    width: 100%;

    white-space: nowrap;
    &-list {
      flex-direction: column;

      width: 100%;
      }
    }
  }
