.carousel {
  &-slider {
    display: flex;
    gap: 0 300px;
  }
  &-item {
    position: relative;

    width: 100vw;
    max-width: 942px;
    height: 100%;
    &.active > .carousel-image {
      scale: 1;
    }
  }
  &-image {
    position: absolute;
    bottom: -12px;
    left: 50%;

    scale: 0.7;

    width: calc(100% + 86px);

    transform: translateX(-50%);
    transition: $springs-slow;
  }
}

@media only screen and (max-width: $md) {
  .carousel {
    &-image {
      bottom: 10%;

      width: 100%;
    }
  }
}
