.circle {
  position: absolute;
  left: 0;
  bottom: 0;

  width: calc(var(--height-main) - 110px);
  height: calc(var(--height-main) - 110px);
  border-radius: 100rem;

  scale: 0;
  // opacity: 0;
  // visibility: hidden;
  transition: $effect-1;
  &-item {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: calc(var(--height-main) - 58px);
    height: calc(var(--height-main) - 58px);
    &.active {
      .circle {
        scale: 1;
        opacity: 1;
        visibility: visible;
        &-text {
          opacity: 1;
          visibility: visible;
          rotate: 0deg;
        }
      }
    }
    &.hidden {
      .circle {
        opacity: 0;
        visibility: hidden;
        &-text {
          opacity: 0;
          visibility: hidden;
          rotate: -75deg;
        }
      }
    }
  }
  &-text {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(var(--height-main) - 6px);
    rotate: 75deg;
    opacity: 0;
    visibility: hidden;
    transition: $effect-1;
  }
  &__orange {
    background-color: $orange;
  }
  &__pink {
    background-color: $pink;
  }
  &__light-green {
    background-color: $light-green;
  }
  &__light-blue {
    background-color: $light-blue;
  }
  &__purple {
    background-color: $purple;
  }
  &__red {
    background-color: $red;
  }
}

@media only screen and (max-width: $xl) {
  .circle {
    &-item {
      left: 25%;
      right: unset;
    }
  }
}

@media only screen and (max-width: $sm) {
  .circle {
    &-item {
      left: 10%;
    }
  }
}
