.circle {
  position: absolute;
  bottom: 0;
  left: 0;

  scale: 0;

  width: calc(100% - 52px);
  max-width: 580px;
  height: calc(100% - 52px);
  max-height: 580px;

  border-radius: 100rem;

  transition: $springs-slow;
  &-item {
    position: absolute;
    top: 50%;
    right: 0;

    overflow: hidden;

    width: calc(100vw - 58px);
    max-width: 632px;
    height: calc(100vw - 58px);
    max-height: 632px;

    transform: translateY(-50%);
    &.active {
      .circle {
        visibility: visible;

        scale: 1;

        opacity: 1;
        &-text {
          visibility: visible;

          rotate: 0deg;

          opacity: 1;
          }
        }
      }
    &.hidden {
      .circle {
        visibility: hidden;

        opacity: 0;
        &-text {
          visibility: hidden;

          rotate: -75deg;

          opacity: 0;
          }
        }
      }
    }
  &-text {
    position: absolute;
    top: 0;
    right: 0;

    visibility: hidden;

    rotate: 75deg;

    width: calc(100% + 52px);
    max-width: max-content;

    opacity: 0;

    transition: $springs-slow;
    }
  &__orange {
    background-color: $orange;
    }
  &__pink {
    background-color: $pink;
    }
  &__light-green {
    background-color: $light-green;
    }
  &__light-blue {
    background-color: $light-blue;
    }
  &__purple {
    background-color: $purple;
    }
  &__red {
    background-color: $red;
    }
  }

// @media only screen and (max-width: $xl) {
//   .circle {
//     &-item {
//       right: unset;
//       left: 25%;
//       }
//     }
//   }

// @media only screen and (max-width: $sm) {
//   .circle {
//     &-item {
//       left: 10%;
//       }
//     }
//   }
