.circle {
  position: absolute;
  bottom: 0;
  left: 0;

  width: calc(var(--height-main) - 110px);
  height: calc(var(--height-main) - 110px);

  border-radius: 100rem;
  transition: $springs-slow;

  scale: 0;
  &-item {
    position: absolute;
    top: 50%;
    right: 0;

    width: calc(var(--height-main) - 58px);
    height: calc(var(--height-main) - 58px);

    transform: translateY(-50%);
    &.active {
      .circle {
        visibility: visible;

        opacity: 1;

        scale: 1;
        &-text {
          visibility: visible;

          opacity: 1;

          rotate: 0deg;
        }
      }
    }
    &.hidden {
      .circle {
        visibility: hidden;

        opacity: 0;
        &-text {
          visibility: hidden;

          opacity: 0;

          rotate: -75deg;
        }
      }
    }
  }
  &-text {
    position: absolute;
    top: 0;
    right: 0;

    visibility: hidden;

    width: calc(var(--height-main) - 6px);

    opacity: 0;
    transition: $springs-slow;

    rotate: 75deg;
  }
  &__orange {
    background-color: $orange;
  }
  &__pink {
    background-color: $pink;
  }
  &__light-green {
    background-color: $light-green;
  }
  &__light-blue {
    background-color: $light-blue;
  }
  &__purple {
    background-color: $purple;
  }
  &__red {
    background-color: $red;
  }
}

@media only screen and (max-width: $xl) {
  .circle {
    &-item {
      right: unset;
      left: 25%;
    }
  }
}

@media only screen and (max-width: $sm) {
  .circle {
    &-item {
      left: 10%;
    }
  }
}
