// MINI Cooper
$light-blue: #57c4e5;
$green: #006f2b;
$red: #e6001d;
$orange: #ed5700;
$pink: #f183b2;
$purple: #641978;

// MINI Countryman
$dark-brown: #582216;
$light-green: #bbd780;

// Neutral
$gray-1: #fff;
$gray-6: #4d4d4d;
$gray-9: #262626;
$gray-10: #000;
$gray-6-alpha-30: #4d4d4d4d;

// Layout
$layout-bg: #f6f6f6;
