body {
  background-color: $layout-bg;
  }

li {
  list-style: none;
  }

#app {
  position: relative;

  overflow-x: hidden;

  margin-block: 146px 14px;

  font-family: 'MINISansSerif-Regular';
  }
