.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  // border: 1px solid red;
  padding: 130px 282px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../../assets/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.5;
    z-index: -1;
  }
}

.main {
  height: 690px;
  width: 100%;
  // border: 1px solid red;
}

.title {
  position: absolute;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "MINI Serif Regular";
}

.wrapper {
  position: relative;
  margin-left: auto;
  height: 100%;
  width: 942px;
  right: 0;
  &-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1110px;
    &__previous,
    &__next {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border-radius: 100rem;
      background: $gray-10;
      cursor: pointer;
      &.disabled {
        cursor: unset;
        background-color: $gray-6-alpha-30;
      }
    }
  }
  &-carousel {
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid goldenrod;
  padding-right: 210px;
}
