*,
*:before,
*:after {
  box-sizing: border-box;
  }
* {
  margin: 0;
  padding: 0;

  font: inherit;
  }
img,
picture,
svg,
video {
  display: block;

  max-width: 100%;
  }
input,
select,
textarea {
  background-color: transparent;

  outline: none;
  }
button {
  background-color: transparent;

  border: 0;

  outline: none;
  cursor: pointer;
  }
body {
  min-height: 100vh;

  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  }
